.auction_setting_prefecture_detail {
    p {
        margin: 1px 0;
    }
    a{
        width: 120px;
    }
    .title-head {
        margin-bottom: 5px;
        font-size: 14px;
        border-bottom: 3px double #000000;
        width: 100%;
        font-weight: bold;
        padding: 5px 0;
        text-indent: 5px;
    }
    .content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

    }
    .content-title {
        font-size: 13px;
        font-weight: bold;
        line-height: normal;
        margin: 2px 0;
    }
    .content-fotter {
        color: #ffa500;
        font-weight: bold;
        font-size: 13px;
        line-height: normal;
    }
    .fix-nowarp {
        white-space: nowrap;
    }
}