.demand-auction_detail{
    .list_tbl_ext{
        border: 1px $color-bg-thead-report-jbr-commission solid;
        border-collapse: collapse !important;
        table-layout: fixed;
        th{
            font-size: 11px;
            padding: 5px;
            color: $color-default;
            text-align: center;
            background-color: $color-table-th;
        }
    }
    .btn_gray_m{
        border: 1px $color-border-bt-gray solid;
        height: 28px;
        line-height: 28px;
        text-align: center;
        font-weight: bold;
        color: $color-grey-primary;
        font-size: 11px;
        padding: 0px 30px;
        font-size: 13px;
        margin-left: 15px;
        cursor: pointer;
    }
    h3{
        margin-bottom: 5px;
        font-size: 14px;
        border-bottom: 3px double $color-dark;
        width: 100%;
        font-weight: bold;
    }
}
