.history_input_content{
    font-family: $font-family-sans-serif;
    margin-top: .65rem;
    h3 {
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: bold;
        border-bottom: 3px double $color-dark;
        width: 100%;
        padding-bottom: 2px;
    }
    .text-danger{
        font-weight: bold;
    }
    .border-clor{
        border: 1px solid $color-border-input-date;
    }
    .table td{
        text-align: center;
        border-top: none;
        vertical-align: inherit;
        padding: .5rem 0rem;
    }
    .wdth-15{
        width: 15rem;
    }
    .function-button{
        width: 120px;
        font-weight: bold;
        word-wrap: break-word;
    }
}