.progress_management-edit {
    .progress_header {
        h1 {
            font-weight: bold;
            font-size: 14px;
            border-bottom: 3px double #000;
            width: 100%;
            margin-bottom: 20px;
        }
    }
    .total {
        margin-top: 5px;
        textarea {
            width: 100%;
            padding: 0.375rem 0.75rem;
        }
        .border-bottom {
            border-top: 3px solid inherit;
        }
        input {
            margin-bottom: 10px;
        }
        h5 {
            font-weight: 700;
        }
        .btn-green {
            padding: 8px 10px;
            margin-top: 4px;
        }
    }
    #return_limit-error{
        margin-left: 10px;
    }
}