.report-application-admin {
    .table-app-admin {
        th, td {
            border: 2px solid $color-border-table-back;
            vertical-align: middle;
            padding: 3px;
        }
        thead {
            tr {
                th {
                    text-align: center;
                    background-color: $color-yellow-light;
                }
            }
        }
        tbody {
            tr {
                td {
                    a, a:hover, a:active {
                        text-decoration: none;
                        color: $color-orange-primary;
                    }
                    button {
                        padding: 0.08rem 0.75rem;
                    }
                }
            }
        }
    }
}
