.report-reputation-follow {
    .bg-hover-row {
        &:hover {
            background-color: $color-yellow-light;
        }
    }
    .btn-pagination {
        cursor: pointer;
        &.active {
            color: $color-orange-primary;
        }
    }
}