.report-corp-agreement-category {
    .bg-changed {
        background-color: $color-bg-changed-report-corp-agreement-category;
    }
    .bg-added {
        background-color: $color-bg-added-report-corp-agreement-category;
    }
    .bg-deleted {
        background-color: $color-bg-deleted-report-corp-agreement-category;
    }
}