.target_area{
    .list_table{
        width: 90%;
        border-collapse: separate;
        border-spacing: 0px;
        border-top: 1px solid $color-table;
        border-left: 1px solid $color-table;
        th{
            background-color: $color-yellow-light;
            font-weight: normal;
            &:nth-of-type(1){
                width:15%;
            }
        }
    }

    .button-default{
        margin-top:10px;
        width: 7.5em;
        font-weight: bold;
        word-wrap: break-word;
    }
}
