.vacation-edit {
    .form-category {
        &__body {
            .item-hearder {
                background-color: $color-bg-td-notice-info-detail;
            }
            border: 1px solid $color-grey-light;
            .item-inline {
                border-top: 1px solid $color-grey-light;
                margin: 0;
                padding: .75rem .5rem;
            }
        }
        input[type=submit] {
            min-width: 150px;
        }
    }
}
