.fs-8 {
    font-size: .5rem !important;
}

.fs-11 {
    font-size: .6875rem !important;
}

.fs-12 {
    font-size: .75rem !important;
}

.fs-13 {
    font-size: .8125rem !important;
}

.fs-14 {
    font-size: .875rem !important;
}

.fs-15 {
    font-size: .9375rem !important;
}

.fs-16 {
    font-size: 1rem !important;
}

.fs-18 {
    font-size: 1.125rem !important;
}

.fs-20 {
    font-size: 1.25rem !important;
}

.fs-25 {
    font-size: 1.5625rem !important;
}

.fs-26 {
    font-size: 1.625rem !important;
}

.fs-30 {
    font-size: 1.875rem !important;
}

@media screen and (min-width: 576px) {
    .fs-sm-8 {
        font-size: .5rem !important;
    }
    
    .fs-sm-11 {
        font-size: .6875rem !important;
    }
    
    .fs-sm-12 {
        font-size: .75rem !important;
    }
    
    .fs-sm-13 {
        font-size: .8125rem !important;
    }
    
    .fs-sm-14 {
        font-size: .875rem !important;
    }
    
    .fs-sm-15 {
        font-size: .9375rem !important;
    }
    
    .fs-sm-16 {
        font-size: 1rem !important;
    }
    
    .fs-sm-18 {
        font-size: 1.125rem !important;
    }
    
    .fs-sm-20 {
        font-size: 1.25rem !important;
    }
    
    .fs-sm-25 {
        font-size: 1.5625rem !important;
    }
    
    .fs-sm-26 {
        font-size: 1.625rem !important;
    }
    
    .fs-sm-30 {
        font-size: 1.875rem !important;
    }
}